<html ng-app="net.enzey.image-splicer.example">
	<head>
		<script type="text/javascript" src="lib/jszip.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>

		<script src="dist/ImageSlicer.js"></script>
		<script src="example.js"></script>

		<style>
			.regionValue {
				display: inline-block;
				margin: 0 2em;
			}
			.regionValue button {
				font-size: 0.8em;
			}
		</style>
	</head>

	<body>
		<div ng-controller="imageSplicerController">
			<div>
				<input type="file" ng-model="mainImage" file-selector><button ng-click="addRegion()">Add Region</button>
				<ol>
					<li ng-repeat="region in regions">
						<input type="text" ng-model="region.fileName"></input>
						<div class="regionValue" spinner ng-model="region.x">X:</div>
						<div class="regionValue" spinner ng-model="region.y">Y:</div>
						<div class="regionValue" spinner ng-model="region.height">Height:</div>
						<div class="regionValue" spinner ng-model="region.width">Width:</div>
					</li>
				</ol>
				<button ng-click="exportRegions(regions)">Export All Regions</button>
			</div>
			<canvas ng-model="mainImage" canvas-manager regions="regions"></canvas>
		</div>

	</body>
</html>